<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taomei.redfruit.business.shared.infrastructure.repository.SubDiscussionMapper">

    <resultMap id="SubDiscussionInfoMap" autoMapping="true" type="com.taomei.redfruit.business.shared.application.dto.discussion.SubDiscussionInfo">


    </resultMap>

    <select id="selectByParentDiscussionId" resultMap="SubDiscussionInfoMap">
        SELECT * FROM sub_discussion WHERE parent_discussion_id = #{value} Order by date asc
    </select>
</mapper>